<robot
  name="green_box">
  <link
    name="green_box">
    <inertial>
      <origin
        xyz="-5.6784E-17 0.018088 0.10277"
        rpy="0 0 0" />
      <mass
        value="39.55" />
      <inertia
        ixx="1.5549"
        ixy="-1.5678E-16"
        ixz="3.8384E-17"
        iyy="1.6871"
        iyz="-0.098174"
        izz="2.5586" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://green_box/meshes/green_box.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://green_box/meshes/green_box.STL" />
      </geometry>
    </collision>
  </link>

<gazebo reference="green_box">
 		<kp>1000000.0</kp>
 		<kd>100.0</kd>
 		<material>Gazebo/Green</material>
 	</gazebo>
</robot>
